language: node_js
dist: xenial
node_js:
- 16.13.2
install:
- npm ci
cache:
  directories:
  - "~/.npm"
  - "~/.cache"
  npm: true
addons:
  sonarcloud: true
jobs:
  include:
  - stage: Run snyk test & monitor
    script:
    - snyk auth "${SNYK_AUTH_TOKEN}"
    - snyk test --dev
    after_success:
    - snyk monitor
  - stage: Run unit tests
    script:
    - npm run test:unit
  - stage: Run detect secrets
    script:
    - npm run detect-secrets:update-baseline
    - npm run detect-secrets --relative
  - stage: Run SonarCloud Scanner
    script:
    - sonar-scanner -D sonar.organization="ibmrepositories" -D sonar.login="${SONAR_TOKEN}"
      -D sonar.projectKey="jumpstart" -D sonar.projectName="jumpstart"
env:
  global:
    secure: cwj7YDIKkfDF344cDoxxBln8Zilg7ohMFrU9BmX7Z0wnSAkS//GyyU81PW4yZKuB7/JpZ9YdoziLFbJCpnKqeNxlPzT6ySVV1/ebsjtZFqHqVeEyMklTiwzHt4D49i3RDoqZ7HF7RAnfKoxIUsEiH3UjwAkCqzbh5xZt6D8Qo5JMwXFgrc0q79BaeX9NjOVqFpmpCESRxZg88tK343Wi4iLtPL02C7vOmix8QujO9/7P16rfkzzTT6Az257CSpj4WGVKc6g72pgDcYDVZiRVRdjcUxk4YnESeSYb4d8g1a3HPFrso0v6tP0o33LR4drApxc/TDmZNMTO6VYlSe5daDXuUoq50EgFjJvI55JKPDa/jDiViiaIZLmudV0mamHE3HnVo4b2bNGY/j7uCPF4TEnnbxsl+6qE4i/DTF0dFSC9KeWH5YQiYIBk7KtoGpSBCCHeDMw6OvmZ+rhkjIUc+LXr3J0VbU4prfgJUQ6m5CzQ1DTdYfgxitYv/7/Z4K9Ap3lT3lHZOO6zF6E2GfMFZjPDpVslPIy1afYlzTnlAn1tV1BAPvg8AFLHqMIUK3FZIcQQQPYnMyMbjQgsnB1NYsxrncpdYYIDKLnywhhMoCgP0XrC7YO6TTx7HigCHW6GmDb0710mlmYJLGyB8QK1xQA7wwr/kVkkxDgWwRamNik=
