language: node_js
dist: xenial
node_js:
- 16.13.2
install:
- npm ci
cache:
  directories:
  - "~/.npm"
  - "~/.cache"
  npm: true
addons:
  sonarcloud: 
    organization: 'ibmrepositories'
    token: 
      secure: "d7LAmhpCis+SHhAMA6ss4snwnrtNQ06x9dEJE37iQEN+atjsqyNZu2qwzV6RX4fn4WBNs6NWeP6o8GQRTteumqyEUOua7KfdyY+UECTh3IBQJ4qevG6tHKaNzgbAt6ZuDZ8wky+qh/hopIhXFYqvm5xXpgYhR5t7oC+BnrC54zZvZ0iB92Uqwid3KOcFe7rkGCC5GiiRNnlH9hvodVko3AXPSQKV+PlHqqxw2DHJoll4XgGTTMwUU3Yu5fUmWdJxC7RF4Fyr3uZRnYauWDPbixRgNab6j9RsS9oP+blTzE6+MM1UTXdiwN7u6kLe36jM62IS8o1wTAy8/KRBmY2VbvUGuZZZSAoVc/CE4/UL7v08QqRKiyF/CF15xvEzdQsaBF+xcL7uwTgefU/Ue1s98AUaRH4nHbx/2SLxO9gs1pso23C+eABR5i6k9g+C9bA+4ogz6Wsuko+pKUlkD8w1jkSRHw+NHAL0/XNbDRS/sBp7mGGFKmB9h0pv1t7yR38MDDDm30ogMx0HmegyUTlr8IVUziJxfIXayiYXULp+iFPZiAiZI/X9vQjQTDIwjozh1za4xpBOIBW/bFyeKS5CufcTxSES0Bm1QQhcvXL/+1li6F1pEC+voxlpPzy9b3oMtcNd5DfvyiAiL/npOKJvl13FcpR1t4kaVeWnFDDMAjQ="
jobs:
  include:
  - stage: Run snyk test & monitor
    script:
    - snyk auth "${SNYK_AUTH_TOKEN}"
    - snyk test --dev
    after_success:
    - snyk monitor
  - stage: Run unit tests & sonar-scanner
    script:
    - npm run test:unit
    - sonar-scanner
  - stage: Run detect secrets
    script:
    - npm run detect-secrets $(git ls-files)
env:
  global:
    # SNKY
    secure: cwj7YDIKkfDF344cDoxxBln8Zilg7ohMFrU9BmX7Z0wnSAkS//GyyU81PW4yZKuB7/JpZ9YdoziLFbJCpnKqeNxlPzT6ySVV1/ebsjtZFqHqVeEyMklTiwzHt4D49i3RDoqZ7HF7RAnfKoxIUsEiH3UjwAkCqzbh5xZt6D8Qo5JMwXFgrc0q79BaeX9NjOVqFpmpCESRxZg88tK343Wi4iLtPL02C7vOmix8QujO9/7P16rfkzzTT6Az257CSpj4WGVKc6g72pgDcYDVZiRVRdjcUxk4YnESeSYb4d8g1a3HPFrso0v6tP0o33LR4drApxc/TDmZNMTO6VYlSe5daDXuUoq50EgFjJvI55JKPDa/jDiViiaIZLmudV0mamHE3HnVo4b2bNGY/j7uCPF4TEnnbxsl+6qE4i/DTF0dFSC9KeWH5YQiYIBk7KtoGpSBCCHeDMw6OvmZ+rhkjIUc+LXr3J0VbU4prfgJUQ6m5CzQ1DTdYfgxitYv/7/Z4K9Ap3lT3lHZOO6zF6E2GfMFZjPDpVslPIy1afYlzTnlAn1tV1BAPvg8AFLHqMIUK3FZIcQQQPYnMyMbjQgsnB1NYsxrncpdYYIDKLnywhhMoCgP0XrC7YO6TTx7HigCHW6GmDb0710mlmYJLGyB8QK1xQA7wwr/kVkkxDgWwRamNik=
